<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Signup</h1>

	<!-- LOGIN FORM -->

    <div class="row">
         <div class="col-12">
              <h2 class="sign-up-title">Sign Up to use alphaNote</h2>
              <div class="sign-up-box">
                   <form class="register" action="/signup" method="post" autocomplete="off">
                        <fieldset name="register-info">
                             <input type="text" name="name" id="firstName" placeholder="First Name" required/>
                             <input type="text" name="name" id="lastName" placeholder="Last Name" required/>
                             <input type="text" name="username" id="username" placeholder="Username" required/>
                             <input type="password" name="password" id="password" placeholder="Password" required/>
                        </fieldset>
                        <button type='submit' class="sign-up-button">Sign Up</button>
                   </form>
              </div>
         </div>
    </div>

	<hr>

	<p>Already have an account? <a href="/login">Login</a></p>


</div>

</div>
</body>
</html>
