* {
  box-sizing: border-box;
  font-family: 'Balthazar', sans-serif;
  text-align: center;
  font-weight: normal;
  color: #333333;
}

body {
  background-color: #f2f2f2;
}

/* ================================= NAVIGATION =================================*/

nav {
  position: fixed;
  top:0;
  left:0;
  right:0;
  text-align: center;
  z-index: 5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a {
  text-decoration: none;
  color:inherit;
}

nav ul {
  background-color: white;
  overflow: hidden;
  color: white;
  padding: 0;
  text-align: center;
  margin: 0;
  -webkit-transition: max-height 1s ease;
  -ms-transition: max-height 1s ease;
  -moz-transition: max-height 1s ease;
  -o-transition: max-height 1s ease;
  transition: max-height 1s ease;
}

nav ul li {
  display: inline-block;
  padding: 20px;
  transition: background-color .5s ease;
  font-size: 18px;
}

nav ul li:hover {
  background-color: teal;
}

.handle {
  width: 100%;
  background: grey;
  text-align: left;
  padding: 18px 12px;
  cursor: pointer;
  display: none;
  color: white;
}

.handle-menu {
  font-size: 20px;
  font-weight: bold;
  background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-bars {
  position: relative;
  bottom: 5px;
  float:right;
  color: white;
}

.activity-summary-heading {
  margin-top: 90px;
  margin-bottom: 0;
  letter-spacing: 1px;
}


/* ================================= MEDIA QUERY: NAVIGATION =================================*/

@media only screen and (max-width: 660px) {
  nav ul {
    max-height: 0;
  }

  .showing {
    max-height: 20em;
  }

  nav ul li {
    width: 100%;
    padding: 15px;
  }

  .handle {
    display: block;
  }
}

/* ================================= OTHER =================================*/

a{
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.wrapper{
  width: 70%;
margin: 20px auto 0;
background-color: #FFFFFF;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

header{
	text-align:right;
	padding:10px;
	margin-bottom:10px;
	background-color:grey;
}

header a{
	font-size:20px;
	color:#FFFFFF;
	width:40px;
	height:40px;
	line-height:40px;
	margin-left:10px;
	text-align:center;
	display:inline-block;
}

header a:hover, .list-mode header a.hide-list:hover{
	background-color:teal
}

header a.hide-list{
	background-color:teal;
}

.list-mode header a.hide-list{
	background-color:grey;
}

.list-mode header a.show-list{
	background-color:teal;
}

.container:after{
	content:"";
	clear:both;
	display:table;
}

.container{
	padding:10px 0 10px 10px;
}

.wrapper .box{
	float:left;
	width:100px;
	height:100px;
	margin:0 10px 10px 0;
	background-color:#CCCCCC;
	-webkit-transition:all 1.0s ease;
	-moz-transition:all 1.0s ease;
	transition:all 1.0s ease;
	transition:all 1.0s ease;
}

.wrapper.list-mode .container{
	padding-right:10px;
}

.wrapper.list-mode .box{
	width:100%;
}





#filter-bar {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 36px;
  display: inline-flex;
}

#wrapper-filter {
  background-color: #fff;
  width: 570px;
  height: auto;
  margin: 30px auto;
  border-radius: 30px;
  box-sizing: border-box;
}

#filter-bar li {
  width: 190px;
  background-color: transparent;
  text-align: center;
  list-style-type: none;
  z-index: 10;
  cursor: pointer;
  font-family: Open Sans, sans-serif;
  font-weight: 100;
  font-size: 15px;
  line-height: 36px;
}

.pill {
  position: absolute;
  width: 190px;
  height: 38px;
  background-color: teal;
  border-radius: 30px;
  color: #444;
  z-index: 10;
  border: 5px solid #eee;
  box-sizing: border-box;
}

.filter-option {
  transition: color 500ms;
}

#filter-bar.option-1 .pill {
  margin-left: 0px;
  transition: margin-left 200ms ease;
}

#filter-bar.option-2 .pill {
  margin-left: 187px;
  transition: margin-left 200ms ease;
}

#filter-bar.option-3 .pill {
  margin-left: 380px;
  transition: margin-left 200ms ease;
}

.option-1.active,
.option-2.active,
.option-3.active {
  color: #fff;
  transition: color 200ms;
}
