* {
  box-sizing: border-box;
  font-family: 'Balthazar', sans-serif;
  text-align: center;
  font-weight: normal;
  color: #333333;
}

body {
  background-color: #f2f2f2;
}

/* ================================= NAVIGATION =================================*/

nav {
  position: fixed;
  top:0;
  left:0;
  right:0;
  text-align: center;
  z-index: 5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a {
  text-decoration: none;
  color:inherit;
}

nav ul {
  background-color: teal;
  overflow: hidden;
  color: white;
  padding: 0;
  text-align: center;
  margin: 0;
  -webkit-transition: max-height 1s ease;
  -ms-transition: max-height 1s ease;
  -moz-transition: max-height 1s ease;
  -o-transition: max-height 1s ease;
  transition: max-height 1s ease;
}

nav ul li {
  display: inline-block;
  padding: 20px;
  transition: background-color .5s ease;
  font-size: 18px;
}

nav ul li:hover {
  background-color: grey;
}

.handle {
  width: 100%;
  background: #001426;
  text-align: left;
  padding: 18px 12px;
  cursor: pointer;
  display: none;
  color: white;
}

.handle-menu {
  font-size: 20px;
  font-weight: bold;
  background: -webkit-linear-gradient(white, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-bars {
  position: relative;
  bottom: 5px;
  float:right;
  color: white;
}

.activity-summary-heading {
  margin-top: 90px;
  margin-bottom: 0;
  letter-spacing: 1px;
}

/* ================================= MEDIA QUERY: NAVIGATION =================================*/

@media only screen and (max-width: 660px) {
  nav ul {
    max-height: 0;
  }

  .showing {
    max-height: 20em;
  }

  nav ul li {
    width: 100%;
    padding: 15px;
  }

  .handle {
    display: block;
  }
}

/* ================================= OTHER =================================*/

* {
  box-sizing: border-box;
}

.gallery {
  margin: 0;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
}
.gallery-item {
  text-align: center;
  display: block;
  background: grey;
  color: #fff;
  margin: 1em;
  padding: 1em;
  line-height: 5em;
  -ms-flex-preferred-size: calc(33.33% - 2em);
      flex-basis: calc(33.33% - 2em);
  min-width: 150px;
}
