* {
     box-sizing: border-box;
     font-family: 'Balthazar', sans-serif;
     text-align: center;
     font-weight: normal;
     color: #333333;
}

body {
     background-color: #f2f2f2;
}


/* ================================= NAVIGATION =================================*/

nav {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     text-align: center;
     z-index: 5;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a {
     text-decoration: none;
     color: inherit;
}

nav ul {
     background-color: white;
     overflow: hidden;
     color: teal;
     padding: 0;
     text-align: center;
     margin: 0;
     -webkit-transition: max-height 1s ease;
     -ms-transition: max-height 1s ease;
     -moz-transition: max-height 1s ease;
     -o-transition: max-height 1s ease;
     transition: max-height 1s ease;
}

nav ul li {
     display: inline-block;
     padding: 20px;
     transition: background-color .5s ease;
     font-size: 18px;
}

nav ul li:hover {
     background-color: teal;
}

.handle {
     background: grey;
     width: 100%;
     text-align: left;
     padding: 18px 12px;
     cursor: pointer;
     display: none;

}

.handle-menu {
     font-size: 20px;
     font-weight: bold;
     background: white;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

.fa-bars {
     position: relative;
     bottom: 5px;
     float: right;
     color: white;
}

.activity-summary-heading {
     margin-top: 90px;
     margin-bottom: 0;
     letter-spacing: 1px;
}


/* ================================= MAIN FLEX BOX =================================

.wrapper {
     display: block;
     position: relative;
     max-width: 1920px;
     max-height: 800px;
     width: 95vw;
     margin: 20px auto;
     overflow: hidden;
}

.container {
     width: calc(100% + 30px);
     position: relative;
     background-color: grey;
     display: flex;
     flex-wrap: wrap;
     align-items: flex-start;
     padding: 30px 30px 0 30px;
     height: 20%;
     align-items: stretch;
}

.widget {
     margin-right: 30px;
     margin-bottom: 30px;
     flex: 0 0 calc(25% - 30px);
     color: black;
     font-family: sans-serif;
     padding: 20px;
     h1 {
          font-size: 3vw;
     }
     h2 {
          font-size: 1.6vw;
     }
}

.large {
     flex: 0 0 calc(50% - 30px);
     h1 {
          font-size: 4vw;
     }
     h2 {
          font-size: 2.4vw;
     }
}

*/

/* ================================= MEDIA QUERY: NAVIGATION =================================*/

@media only screen and (max-width: 660px) {
     nav ul {
          max-height: 0;
     }
     .showing {
          max-height: 20em;
     }
     nav ul li {
          width: 100%;
          padding: 15px;
     }
     .handle {
          display: block;
     }
}


/* ================================= OTHER =================================*/

.accordion-container {
     margin: 50px 50px;
}

.set {
     position: relative;
     width: 100%;
     height: auto;
     border-radius: 4px;
     background-color: #545252;
     box-sizing: border-box;
}

.set>a {
     font-family: inherit;
     font-size: 18pt;
     display: block;
     padding: 10px 15px;
     text-decoration: none;
     box-sizing: border-box;
     color: #fff;
     font-weight: 600;
     border-bottom: 2px solid #fff;
     -webkit-transition: all 0.2s linear;
     -moz-transition: all 0.2s linear;
     transition: all 0.2s linear;
}

.set>a i {
     position: relative;
     float: right;
     margin-top: 4px;
     color: #fff;
     box-sizing: border-box;
}

.set>a.active {
     background-color: teal;
     color: #fff;
     box-sizing: border-box;
}

.set>a.active i {
     color: #fff;
}

.content {
     display: none;
     position: relative;
     box-sizing: border-box;
     padding: 10px;
     width: 100%;
     height: auto;
     background-color: #fff;
     border: 1px solid #ccc;
     margin-bottom: 2px;
}

.accordion-container img {
     max-width: 100%;
     display: block;
     height: auto;
}

.nested {
     background-color: lightgrey;
}


a:hover {
  color: teal;
}


/* ================================= USER INPUT =================================*/

#title {
     width: 80%;
     border: none;
     border-left: none;
     border-top: none;
     border-right: none;
     padding: 2px 0;
     font-family: 'Balthazar', sans-serif;
     font-size: 30px;
     font-style: bold;
     background-color: transparent;
     margin-bottom: 20px;
     margin-top: 15px;
     text-align: center;
}

#background, #purpose, #procedure, #conclusion {
     margin-top: 50px;
     margin-bottom: 50px;
     width: 80%;
     height: 400px;
     resize: none;
     overflow: auto;
     padding: 10px;
     text-align: justify;
     white-space: normal;
}

.chemwriter{
     margin-left: auto;
     margin-right: auto;
}

#tinymce {
     margin: auto 250px auto;
     margin-top: 50px;
     margin-bottom: 50px;
}


/* ================================= BUTTON =================================*/
.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  font-family:inherit;
  width: 140px;
  height: 45px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.button:hover {
  background-color: teal;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
